<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>Texaco Calculation</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Texaco &#174;</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="{% if request.endpoint == 'core.index' %}active{% endif %}"><a href="/">Home</a></li>
                  <li class="{% if request.endpoint == 'core.about' %}active{% endif %}"><a href="/about">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            {% block content %}{% endblock %}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    {% block js %}{% endblock%}
  </body>
</html>
